*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1 {
    top: 70px;
    left: 50px;
    position: relative;
    color: white;
    font-size: 72px;
    text-shadow: -1px 1px 7px black;
}
.restoTitle {
    top: 60px;
    left: 380px;
    position: relative;
    color: white;
    font-size: 40px;
    text-shadow: -5px 5px 7px black;
}
.titleImg{
    background-image: url("banner.jpg");
    background-size: cover;
    height: 300px;
    position: relative;
    color: white;
}

.navBar{    
    height: 50px;
    background-color: rgb(10,101,23);
    opacity: .8;
    position: relative;
    top: 160px;
    color: white;
    /*font-size: 30px;*/
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgreen;
}

li {   
    display: inline;
    border-right: 1px solid white;
    margin: 0px;
    float: left;
    font-size: 24px;
    padding: 10px 20px;
}    
li:last-child {
    border-right: none;
}
li a{
    color:white;
    text-decoration: none;
}

li a:hover {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 1px;
}
@media only screen and (min-width: 350px) and (max-width: 767px){
    .navbar {
        ul.navbar li.right, 
        ul.navbar li {float: none;}
        /*display: block;
        width: 100%;*/
    }
    /*#box2 { 
        display: block;
        width: 100%;
    }*/
    }
    
    @media only screen and (min-width: 768px) and (max-width: 1199px){
    .navbar {
        ul.navBar li.right, 
        ul.navBar li {float: none;}
        /*display: block;
        width: 100%;
        font-size: 16px;
        background-color: white;*/
    }
    /*#box2 {
        display: block;
        width: 100%;
        font-size: 16px;
        background-color: white;
    }*/